<!-- Sidebar -->
<div class="bg-dark border-right" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <%= link_to t("admin.list_pitchs"), admin_pitches_path, class: "list-group-item list-group-item-action bg-dark text-light" %>
    <%= link_to t("admin.list_users"), admin_users_path, class: "list-group-item list-group-item-action bg-dark text-light" %>
    <%= link_to t("admin.list_booking"), admin_pitch_bookings_path, class: "list-group-item list-group-item-action bg-dark text-light" %>  </div>
</div>
